{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Morpheus Certificates</title>
        <link rel="stylesheet" href="{% static 'assets/css/base.css' %}"/>
        <link rel="stylesheet" href="{% static 'assets/css/inter/inter.css' %}"/>
        <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'assets/css/index.css' %}"/>
    </head>

    <body class="box__container">
        <div class="box">
            <h3 class="box__title">Certificate Not Found</h3>
            <div class="box__actions">
                <a class="button" href="/" tabindex="0">Retry</a>
            </div>
        </div>
    </body>
</html>